<html lang="{{ request.LANGUAGE_CODE }}">
{% load static %}
{% load i18n %}
<head>
    <link rel="prefetch" href="nextpage.html">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
    <meta name="viewport" content="width=device-width, initail-scale=1">
    <link rel="preload" href="{% static 'fonts/Bungee-Regular.ttf' %}" as="font" type="font/ttf" crossorigin>
</head>


<body>

<div id="transition-overlay"></div>
<div class="hero-section">
    <form action="/i18n/setlang/" method="post">
    {% csrf_token %}
    <button name="language" value="en">English</button>
    <button name="language" value="my">မြန်မာ</button>
</form>

</div>


<div class="carousel-wrapper">

    <button class="arrow left" onclick="prevSlide()">❮</button>

    <div class="carousel">
        <div class="carousel-track">
            {% for product in products %}
                <div class="carousel-card">
                    <div class="card-name">{{ product.name }}</div>
                    <div class="card-info">
                        <div class="carousel-image-wrapper">
                            <img src="{{ product.image.url }}" loading="lazy">
                        </div>
                        <div class="card-year">{{ product.year }} </div>
                    </div>
                    <a href="{% url 'product_detail' product.id %}">
                        <h3 class="detail-btn">
                            <span class="btn-bg"></span>
                        <span class="btn-next">{% trans "Detail" %}</span>
                        </h3>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

    <button class="arrow right" onclick="nextSlide()">❯</button>


</div>

<script>


const track = document.querySelector(".carousel-track")
const cards = document.querySelectorAll(".carousel-card")
function getCardWidth(){
    return cards[0].offsetWidth + 20
}
let current = 0

function updateCarousel(){
    const cardWidth = getCardWidth()
    track.style.transform = `translateX(-${current*cardWidth}px)`


cards.forEach(card => card.classList.remove("active"));

cards[current].classList.add("active")


}

function nextSlide(){

if(current < cards.length-1){
    current++
}else{
    current = 0
}

updateCarousel()
}

function prevSlide(){

if(current > 0){
    current--
}else{
    current = cards.length-1
}
updateCarousel()

}

updateCarousel()

</script>

<script>

let startX = 0

track.addEventListener("touchstart", e=>{
startX = e.touches[0].clientX
})

track.addEventListener("touchend", e=>{
let endX = e.changedTouches[0].clientX

if(startX - endX > 50){
nextSlide()
}

if(endX - startX > 50){
prevSlide()
}

})

</script>

  <script>
    const overlay = document.getElementById("transition-overlay");

    window.addEventListener("pageshow", () =>{
        document.body.classList.add("page-visible");

        setTimeout(()=>{
            overlay.classList.add("hidden");
        },200);
    });

    document.querySelectorAll('a[href]').forEach(link => {
        if(link.hostname !== window.location.hostname) return;
        if(link.getAttribute("href").startsWith("#")) return;

        link.addEventListener('click', e => {
            e.preventDefault();
            const url = link.href;

            overlay.classList.remove("hidden");
            document.body.classList.remove("page-visible");

            setTimeout(() => {
                window.location = url;
            }, 500);
        });
    });

    </script>

</body>

</html>